learningSalesforce/force-app/main/default/flows/After_Save_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>774</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>contactUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Phone</name>
        <label>Update Contact Phone</label>
        <locationX>575</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>Update_Phone.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_is_New_Create_Account</name>
        <label>Check is New Create Account</label>
        <locationX>588</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp</targetReference>
            </connector>
            <label>IS New?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNEw()</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>After Save Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save Record</label>
    <loops>
        <name>Update_Phone</name>
        <label>Update Phone</label>
        <locationX>459</locationX>
        <locationY>329</locationY>
        <collectionReference>conList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Contact_Phone</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>882</locationX>
        <locationY>87</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>623</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>conList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>964</locationX>
        <locationY>419</locationY>
        <inputReference>contactUpdates</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>Check_is_New_Create_Account</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>conList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
