learningSalesforce/force-app/main/default/flows/Is_Change_PriorValue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>670</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Description_when_stage_is_not_changed</name>
        <label>Update Description when stage is not changed</label>
        <locationX>489</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stage is not changed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Pri</name>
        <label>Check Prior Value</label>
        <locationX>452</locationX>
        <locationY>99</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Description</targetReference>
            </connector>
            <label>IsChanges?</label>
        </rules>
        <rules>
            <name>Not_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Description_when_stage_is_not_changed</targetReference>
            </connector>
            <label>Not Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Is Change PriorValue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Is Change PriorValue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>8</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Check_Pri</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
